<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ECCI_HangmanBinding" allowCookies="True"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://titanic.ecci.ucr.ac.cr/~eb54621/HangmanService/"
                binding="basicHttpBinding" bindingConfiguration="ECCI_HangmanBinding"
                contract="ECCI_Hangman.ECCI_HangmanPort" name="ECCI_HangmanPort" />
        </client>
    </system.serviceModel>
</configuration>